<a href="https://colab.research.google.com/github/rkarthiksub/MachineLearningNotebooks/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Loading data from numpy to dataframe

In [ ]:
my_data = np.array([[10, 3], [10, 3], [20, 2], [30, 1], [40, 3]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['jersey', 'score']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   jersey  score
0      10      3
1      10      3
2      20      2
3      30      1
4      40      3

**Adding a column in dataframe** Adding +2 to the activity

In [ ]:
my_dataframe["seconds"] = my_dataframe["score"] +2

# Print the entire DataFrame
print(my_dataframe)

   jersey  score  seconds
0      10      3        5
1      10      3        5
2      20      2        4
3      30      1        3
4      40      3        5

How to access data frame

In [ ]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2: is getting printed")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'jersey':")
print(my_dataframe['jersey'])

Rows #0, #1, and #2:
   jersey  score  seconds
0      10      3        5
1      10      3        5
2      20      2        4

Row #2: is getting printed
   jersey  score  seconds
2      20      2        4

Rows #1, #2, and #3:
   jersey  score  seconds
1      10      3        5
2      20      2        4
3      30      1        3

Column 'jersey':
0    10
1    10
2    20
3    30
4    40
Name: jersey, dtype: int64